/*! Letar Manager | MIT License | NanoAi @ https://boxfox.org/NanoAi */
@import url('>/postcss/tailwind.pcss');
@import url('>/postcss/tw-extend.pcss');
@import url('>/postcss/keyframes.pcss');
@import url('>/postcss/theme.pcss');
@import url('>/postcss/main.pcss');